<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pnrs.rtrk.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="pnrs.rtrk.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_umbrella"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_umbrella"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".WeatherProvider"
            android:authorities="pnrs.rtrk.myapplication"
            android:enabled="true"
            android:exported="true"></provider>

        <activity android:name=".DetailsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>